.dropDown {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
  background-color: white;
  font-family: 'Roboto'
}

.dropDownHeader {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropDownBody {
  padding: 5px;
  border-top: 1px solid #E5E8EC;
  display: none;
}

.dropDownBody.open {
  display: block;
}

.dropDownItem {
  padding: 10px;
}

.dropDownItem:hover {
  cursor: pointer;
}

.dropDownItemDot {
  opacity: 0;
  color: #91A5BE;
  transition: all .2s ease-in-out;
}

.dropDownItemDot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  color: #91A5BE;
  transform: rotate(0deg);
  transition: all .2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}