.dropDown {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.dropDownHeader {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropDownBody {
  padding: 5px;
  border-top: 1px solid #e5e8ec;
  display: none;
}

.dropDownItem {
  padding: 10px;
  text-align: left;
}

.dropDownItem:hover {
  cursor: pointer;
}

.dropDownItemDot {
  opacity: 0;
  color: #91a5be;
  transition: all 0.2s ease-in-out;
}

.dropDownItemDot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  color: #91a5be;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}
