.flexTable {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 1200px) {
  .flexTable {
    flex-direction: row;
    text-align: left;
    max-width: 325px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
  }
}
