*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto Regular';
  background: rgb(74, 89, 21);
  background: linear-gradient(
      0deg,
      rgba(74, 89, 21, 1) 0%,
      rgba(74, 89, 21, 1) 40%,
      rgba(162, 166, 50, 1) 100%
    )
    no-repeat center center fixed;
}
