.container {
  margin: 0 auto;
	max-width: 50em;
	padding: 2em;	
	display: flex; flex-flow: column;
	justify-content: center;
}

.radio {
  font-family: 'Roboto';
}
.label {
	position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
