.stories-dropDown {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background-color: white;
  font-family: 'Roboto';
}

.stories-dropDownHeader {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stories-dropDownBody {
  padding: 5px;
  border-top: 1px solid #e5e8ec;
  display: none;
}

.stories-dropDownBody.open {
  display: block;
}

.stories-dropDownItem {
  padding: 10px;
}

.stories-dropDownItem:hover {
  cursor: pointer;
}

.stories-dropDownItemDot {
  opacity: 0;
  color: #91a5be;
  transition: all 0.2s ease-in-out;
}

.stories-dropDownItemDot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  color: #91a5be;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}
