.button {
  color: #fff;
  background: #bf793b;
  text-decoration: none;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 600;
  border: 1px solid #a66933;
  border-radius: 100px;
  padding: 20px 50px;
  transition-duration: 0.2s;
  display: inline-block;
  perspective: 1000px;
  transform-origin: center bottom 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  min-width: 100%;
  text-align: center;
}

.button:active {
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
  background-color: #cc813f;
}

.button:hover {
  cursor: pointer;
}
