.button {
  color: #fff;
  background: #BF793B;
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 1.4rem;
  letter-spacing: 1px;  
  padding: 10px;
  transition-duration: 0.2s;
  display: inline-block;
  perspective: 1000px;
  transform-origin: center bottom 0px;
  border: 0;
  border-radius: 100px;
  padding-right: 1.2em;
  padding-left: 1.2em;
  text-align: center;
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 8%);
}

.button:active, .button:hover {
  background-color: rgba(191,121,59, 75);
  border: 2px solid #A66933;
}

.button:hover {
  cursor: pointer;
}

