.container {
  margin-top: 20%;
  margin-bottom: 30%;   
  margin-left: auto;
  margin-right: auto;
  padding: 1em;        
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 8%);
  border: 3.5px solid #4A5915;
  border-radius: 2.5px;
  text-align: center;
  background: #fff;
}

.radioInput {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  background-color: #e9e9e9;
  padding: 10px;
  padding-bottom: 2em;
  border-radius: 4px;
  max-width: 320px;
}

.buttonContainer {
  max-width: 320px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.buttonFadeIn {
  animation: fadeIn ease-in .6s;
  -webkit-animation: fadeIn ease-in .6s;
  -moz-animation: fadeIn ease-in .6s;
  -o-animation: fadeIn ease-in .6s;
  -ms-animation: fadeIn ease-in .6s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
