.flexTable {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  padding-bottom: 20px;
}

.radioTable {
  padding-top: 7px;
  padding-bottom: 9px;
  font-size: 1.4rem;
  text-transform: capitalize;
  flex-direction: row;
  transition: 0.3s;
}

.radioTable:last-child {
  border-bottom: 0px;
}

.radioTable > label {
  display: none;
  visibility: hidden;
}

.flexRadioToggle {
  min-height: 20px;
  min-width: 20px;
}

.flexRadioToggle:checked {
  transform: scale(1.35);
}

.radioTable:hover,
.flexRadioToggle:hover {
  cursor: pointer;
  color: #bf793b;
}

@media (min-width: 1200px) {
  .flexTable {
    flex-direction: row;
    text-align: left;
    max-width: 325px;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 1em;
    font-size: 1rem;
  }
}
