@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Open Sans Extra Bold';
  src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-display: block;
}
