
.List {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

.List::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  position: relative;
  left: 10px;
  display: none;
}

.List::-webkit-scrollbar
{
	width: 9px;
  background-color: rgba(245, 245, 245, .37);
  border-radius: 10px;
  position: relative;
  left: 100px;
}

.List::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,
  transparent 25%,
  transparent 50%,
  rgba(255, 255, 255, .2) 50%,
  rgba(255, 255, 255, .2) 75%,
  transparent 75%, transparent)  
}

.ListCardContainer {
  margin-bottom: 10%;
}

.ListCard {
  padding: 1em;        
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 8%);
  border: 3.5px solid #4A5915;
  border-radius: 2.5px;
  background: #fff;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
}

.ListCardHeader {
  width: 100%;
  display:block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size:1.34rem;
  margin-top:-20px;
}

.ListItemEven {
  background-color: #f8f8f0;
}

.InputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
}

.InputContainer > div {
  margin-left: 10px;
  margin-right: 10px;
}

.buttonContainer {
  min-width: 300px;
  margin-left: 16%;
  margin-right: 16%;
  margin-bottom: 3%;
}

@media (min-width: 1200px) {
  .ListCardHeader {
    flex-direction: row;
  }

  .InputContainer {
    margin-left: 25%;
    margin-right: 25%;
  }

  .buttonContainer {
    margin-left: 25%;
    margin-right: 25%;
  }
}
