.container { 
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;

}

.buttonContainer {
  max-width: 350px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.game {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
  font-size: 1rem;
}

.gameItemInputs > input {
  -webkit-appearance: none;
  max-width: 64px;
  min-width: 64px;
  width: 64px;
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
}

.gameItemInputs > input:first-child {
  margin-right: 10px;
}

.gameItem {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.gameItemInputs {
  display: inline-flex;
  flex-direction: row;
}

.saveGameButton {
  font-size: 1.432rem;
  margin:12px;
  margin-right:0px;
  color:#444;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: .40s;
  -webkit-transition: .40s;
}

.saveGameButton:hover {
  cursor: pointer;
  transform: matrix(1.2, 0, 0, 1.2, 0, 0);
  color:#F0C756;
}

@media (min-width: 1200px) {
  .game {
    text-align: left;
    max-width: 500px;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 1em;
    font-size: 1.3rem;
  }

  .gameItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: .3px solid #444;
  }
  .gameItemInputs {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .gameItemInputs > input {
    -webkit-appearance: none;
    max-width: 64px;
    min-width: 64px;
    width: 64px;
    text-align:center;
    display: inline-block
  }
  

  .gameItemInputs > input:first-child {
    margin-right: 1em;
  }

  
}
