.container {
  padding :1em;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 10px;
}
.gameItemInputs, .title, .buttonContainer {
  margin-left: auto;
  margin-right: auto;
}

.gameCardContainer, .gameItemInputs, .title  {
  max-width: 500px;
}
.gameCardContainer {
  margin-left: auto;
  margin-right: auto;
}

.gameItemInputs, .title {
  margin-bottom: 5%;
  padding: 1em;        
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 8%);
  border: 3.5px solid #4A5915;
  border-radius: 2.5px;
  text-align: center;
  background: #fff;
  
}

.title h2 {
  margin-bottom: 0;
  margin-top:0;
}

.title h2:first-child {
  margin-top: 10px;
}