@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Patrick Hand SC', cursive;

  background: rgb(87,89,18);
  background: linear-gradient(90deg, rgba(162,166,50,1) 32%, rgba(217,195,89,1) 68%);


}

/** Utility classes **/
.flex-table {
  display: flex;
}

.final-score-title {
  display: flex;
  justify-content: flex-end;
  max-width: 325px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
}
