*,
::after,
::before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto Regular';  
}

/** Utility classes **/
.flex-table {
  display: flex;
}

.final-score-title {
  display: flex;
  justify-content: flex-end;
  max-width: 325px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
}
