@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

.header {
  font-family: 'Patrick Hand SC', cursive;
  text-shadow: 0px;
  text-transform: uppercase;
  background-color: #4A5915;
  border-bottom: 6px solid#3a4807;
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 8%);
}

.header a {
  color: #fff;
  text-decoration: none;
  text-transform: none;
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top:7px;
  padding-bottom:6px;
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
  transition-duration: 0.2s;
}

.header a:hover {
  cursor: pointer;
  transform: matrix(1, 0, 0, 1, 0, 0);
  text-shadow: 3px 8px 12px rgba(0,0,0, .3);
}

.header svg {
  font-size:1.51rem;
  margin: 10px;
  margin-top: 21px;
  margin-right: 0px;
}

.header h1 {
  margin:10px;
}


@media (min-width: 1200px) {
  .header a {
    justify-content: flex-start;
  }
}