@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ceviche+One&family=Josefin+Sans:wght@500&family=Raleway&display=swap');


.subTitle {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 1.3rem;
  margin-bottom: 10px;
}