@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

.subTitle {
  font-family: 'Patrick Hand SC', cursive;

  text-align: center;
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: capitalize;
}
