.avatar {
  display: flex;
  flex-direction: row;
}

.avatarCard {
  margin-left: 1em;
}

.avatarCard h1 {
  font-family: 'Open Sans Bold';
  font-size: 1.9rem;
}

.buttonContainer {
  padding-bottom: 1rem!important;
  padding-top: 1rem!important;
}

.buttonGroup {
  justify-content: flex-start;
}

.avatar img {
  display: none;
}

@media (min-width: 300px) and (max-width: 400px) {
  .avatar img {
    display: initial;
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 400px) {
  .avatar img {
    display: initial;
    width: 90px;
    height: 90px;
  }
}

@media (min-width: 1200px) {
  .buttonContainer {
    padding-bottom: 1.5rem!important;
    padding-top: 1.5rem!important;
  }
  
  .buttonGroup {
    justify-content: flex-end;
  }
}


