.containerWrapper {
  height: 75vh;
}

.containerFeedbackWrapper {
  height: 120vh;
}

.vh80 {
  height: 80vh;
}

.mw276 {
  min-width: 276px;
}

.containerBox {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.containerBoxWrapper {
  max-width: 350px;
}

.containerBox h1 {
  font-family: 'Open Sans Extra Bold';
}
