.stories-autocomplete {
  border-radius: 15px;
  font-family: 'Roboto';
  border: 0.5px solid #a9a9a9;
  padding: 1em;
  min-width: 300px;
}

.stories-autocomplete-item {
  padding: 10px;
  font-size: 1rem;
}

.stories-autocomplete-item:hover {
  cursor: pointer;
}
