.stories-courseHistoryContainer h2 {
  font-family: 'Open Sans Extra Bold';
}

.stories-courseHistoryContainer h2 small {
  font-size: 15px;
}

.stories-courseLabel {
  font-family: 'Open Sans Regular';
}

.stories-courseLabel > .stories-strong {
  font-family: 'Open Sans Bold';
}

@media (min-width: 1200px) {
  .stories-sticky {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
