.stories-logo {
  color: #38a169;
  font-family: 'Patrick Hand SC';
  display: flex;
  justify-content: flex-start;
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
  transition-duration: 0.2s;
}

.stories-logo svg {
  font-size: 1.51rem;
  margin: 10px;
  margin-top: 16px;
  margin-right: 13px;
}

.stories-logo:hover {
  cursor: pointer;
  text-decoration: none;
  transform: matrix(0.96, 0, 0, 0.96, 0, 0);
  color: #2f855a;
}

.stories-logo svg:hover,
.stories-logo h1:hover {
  text-shadow: 0 8px 20px 0 rgb(0 0 0 / 8%);
}
